@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(90deg, var(--grey) 31px, transparent 1px) 50%, linear-gradient(180deg, var(--grey) 31px, var(--blue) 1px) 50%;
  background-size: 32px 32px;
  color: var(--dark);
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
	--blue: #335DFF;
	--grey: #F5F5F5;
	--grey-d-1: #EEE;
	--grey-d-2: #DDD;
	--grey-d-3: #888;
	--white: #FFF;
	--dark: #222;
}

.chatbox-wrapper {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	width: 4rem;
	height: 4rem;
}
.chatbox-toggle {
	width: 100%;
	height: 100%;
	background: var(--blue);
	color: var(--white);
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	cursor: pointer;
	transition: .2s;
}
.chatbox-toggle:active {
	transform: scale(.9);
}
.chatbox-message-wrapper {
	position: absolute;
	bottom: calc(100% + 1rem);
	right: 0;
	width: 420px;
	border-radius: .5rem;
	overflow: hidden;
	box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, .1);
	transform: scale(0);
	transform-origin: bottom right;
	transition: .2s;
}
.chatbox-message-wrapper.show {
	transform: scale(1);
}
.chatbox-message-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--white);
	padding: .75rem 1.5rem;
}
.chatbox-message-profile {
	display: flex;
	align-items: center;
	grid-gap: .5rem;
}
.chatbox-message-image {
	width: 3rem;
	height: 3rem;
	object-fit: cover;
	border-radius: 50%;
}
.chatbox-message-name {
	font-size: 1.125rem;
	font-weight: 600;
}
.chatbox-message-status {
	font-size: .875rem;
	color: var(--grey-d-3);
}
.chatbox-message-dropdown {
	position: relative;
}
.chatbox-message-dropdown-toggle {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2.5rem;
	height: 2.5rem;
	font-size: 1.25rem;
	cursor: pointer;
	border-radius: 50%;
}
.chatbox-message-dropdown-toggle:hover {
	background: var(--grey);
}
.chatbox-message-dropdown-menu {
	list-style: none;
	margin: 0;
	position: absolute;
	top: 100%;
	right: 0;
	background: var(--white);
	padding: .5rem 0;
	width: 120px;
	border-radius: .25rem;
	box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, .1);
	opacity: 0;
	visibility: hidden;
	transition: .2s;
}
.chatbox-message-dropdown-menu.show {
	opacity: 1;
	visibility: visible;
}
.chatbox-message-dropdown-menu a {
	text-decoration: none;
	color: var(--dark);
	display: block;
	padding: .5rem 1.5rem;
	font-size: .875rem;
}
.chatbox-message-dropdown-menu a:hover {
	background: var(--grey);
}
.chatbox-message-content {
	max-height: 300px;
	overflow-y: auto;
	background: var(--grey);
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	grid-gap: 1rem;
}
.chatbox-message-item {
	background: var(--white);
	padding: .75rem 1.25rem;
	border-radius: 1.25rem 1.25rem 1.25rem 0;
	align-self: flex-start;
	box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, .05);
}
.chatbox-message-item.sent {
	background: var(--blue);
	color: var(--white);
	align-self: flex-end;
	border-radius: 1.25rem 1.25rem 0 1.25rem;
}
.chatbox-message-item-text {
	font-size: .875rem;
	margin-bottom: .5rem;
}
.chatbox-message-item-time {
	font-size: .75rem;
	color: var(--grey-d-3);
	text-align: right;
}
.chatbox-message-no-message {
	margin: auto;
	text-align: center;
	color: var(--grey-d-3);
	font-size: .875rem;
}
.chatbox-message-bottom {
	background: var(--white);
	padding: .75rem 1.5rem;
}
.chatbox-message-form {
	display: flex;
	grid-gap: 1rem;
}
.chatbox-message-input {
	resize: none;
	width: 100%;
	padding: .5rem 1rem;
	border-radius: 9999px;
	border: 1px solid var(--grey-d-2);
	outline: none;
	background: var(--grey);
	transition: .2s;
}
.chatbox-message-input:focus {
	background: var(--white);
	box-shadow: 0 0 0 .25rem var(--grey);
}
.chatbox-message-submit {
	width: 3rem;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.25rem;
	background: var(--blue);
	color: var(--white);
	border-radius: 50%;
	cursor: pointer;
	transition: .2s;
}
.chatbox-message-submit:active {
	transform: scale(.9);
}
